[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
slack-sdk = "*"
requests = "*"
marshmallow = "*"

[dev-packages]
mypy = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
